<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="DataPath" value="E:\study\Crawler\Error\"/>
    <add key="TencentClassUrl" value=""/><!--https://ke.qq.com-->
    <add key="HeadImagePath" value="E:\study\Crawler\WeChatTest\f\headImg\"/>
    <add key="ContentImagePath" value="E:\study\Crawler\WeChatTest\f\contentImg\"/>
    <add key="VideoPath" value="E:\study\Crawler\WeChatTest\f\video\"/>
  </appSettings>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=.; Database=Test; User ID=sa; Password=123; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
